* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color:slategrey;
  padding: 20px;
}

main {
  background-color:antiquewhite;
  height: 400px;
  max-width: 600px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin: 0px;
  color: sienna;
}

.description {
  text-align: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.die-face {
  height: 50px;
  width: 50px;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.roll-dice {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: peru;
  color: blanchedalmond;
  font-size: 1.5rem;
}

.roll-dice:active {
  box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}